interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/stops/53095
  response:
    body: {string: '{"StopNo":53095,"Name":"WB DOVER ST FS ROYAL OAK AVE","BayNo":"N","City":"BURNABY","OnStreet":"DOVER
        ST","AtStreet":"ROYAL OAK AVE","Latitude":49.229980,"Longitude":-122.989640,"WheelchairAccess":0,"Distance":-1,"Routes":"144"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
