interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/buses?stopNo=53987
  response:
    body: {string: '[{"VehicleNo":"9640","TripId":9284644,"RouteNo":"228","Direction":"SOUTH","Destination":"LONSDALE
        QUAY","Pattern":"SB1B","Latitude":49.311367,"Longitude":-123.079233,"RecordedTime":"01:26:24
        pm","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/228.kmz"}},{"VehicleNo":"9646","TripId":9283546,"RouteNo":"210","Direction":"NORTH","Destination":"UPPER
        LYNN VALLEY","Pattern":"NB1","Latitude":49.327700,"Longitude":-123.038217,"RecordedTime":"01:26:08
        pm","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/210.kmz"}},{"VehicleNo":"9649","TripId":9283551,"RouteNo":"210","Direction":"NORTH","Destination":"UPPER
        LYNN VALLEY","Pattern":"NB1","Latitude":49.283650,"Longitude":-123.113250,"RecordedTime":"01:26:39
        pm","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/210.kmz"}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
