interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/buses
  response:
    body: {string: '[{"VehicleNo":"11303","TripId":9287783,"RouteNo":"252","Direction":"EAST","Destination":"PARK
        ROYAL - ONLY","Pattern":"EB1NEW","Latitude":49.334517,"Longitude":-123.145967,"RecordedTime":"01:26:41
        pm","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/252.kmz"}},{"VehicleNo":"11304","TripId":9287805,"RouteNo":"252","Direction":"WEST","Destination":"INGLEWOOD","Pattern":"WB1NEW","Latitude":49.338267,"Longitude":-123.171950,"RecordedTime":"01:26:48
        pm","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/252.kmz"}},{"VehicleNo":"11307","TripId":9307291,"RouteNo":"C3","Direction":"WEST","Destination":"QUAYSIDE","Pattern":"WB1","Latitude":49.202717,"Longitude":-122.908750,"RecordedTime":"01:25:19
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/buses/11303
  response:
    body: {string: '{"Code":"2001","Message":"Invalid bus number specified. Please
        use a valid 4 digit number."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 500, message: Internal Server Error}
version: 1
