interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/routes?stopNo=55385
  response:
    body: {string: '[{"RouteNo":"321","Name":"WHITE ROCK\/NEWTON\/SURREY CTRL STN","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"NB1L","Destination":"SURREY
        CTRL STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/321-NB1L.kmz"},"Direction":"NORTH"},{"PatternNo":"NB8L","Destination":"SURREY
        CTRL STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/321-NB8L.kmz"},"Direction":"NORTH"}]},{"RouteNo":"351","Name":"CRESCENT
        BEACH\/BRIDGEPORT STN     ","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"NB1","Destination":"BRIDGEPORT
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/351-NB1.kmz"},"Direction":"NORTH"}]}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
