interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/stops?lat=49.248524&long=-123.108800&routeno=N15
  response:
    body: {string: '[{"StopNo":50475,"Name":"NB CAMBIE ST FS W KING EDWARD AVE","BayNo":"N","City":"VANCOUVER","OnStreet":"CAMBIE
        ST","AtStreet":"W KING EDWARD AVE","Latitude":49.249420,"Longitude":-123.115260,"WheelchairAccess":1,"Distance":479,"Routes":"015,
        033, N15"},{"StopNo":61253,"Name":"NB CAMBIE ST FS W 27 AVE","BayNo":"N","City":"VANCOUVER","OnStreet":"CAMBIE
        ST","AtStreet":"W 27 AVE","Latitude":49.247290,"Longitude":-123.115190,"WheelchairAccess":1,"Distance":484,"Routes":"015,
        033, N15"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
