interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/buses?routeNo=228&stopNo=53987
  response:
    body: {string: '[{"VehicleNo":"9640","TripId":9284644,"RouteNo":"228","Direction":"SOUTH","Destination":"LONSDALE
        QUAY","Pattern":"SB1B","Latitude":49.311367,"Longitude":-123.079233,"RecordedTime":"01:26:24
        pm","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/228.kmz"}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
