interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/routes/C2
  response:
    body: {string: '{"RouteNo":"C2","Name":"CAPITOL HILL\/HASTINGS AT GILMORE","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"NB1","Destination":"CAPITOL
        HILL","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/C2-NB1.kmz"},"Direction":"NORTH"},{"PatternNo":"SB1","Destination":"HASTINGS
        AT GILMORE","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/C2-SB1.kmz"},"Direction":"SOUTH"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
