interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/stops?lat=49.248524&long=-123.108800&radius=500
  response:
    body: {string: '[{"StopNo":51516,"Name":"EB W KING EDWARD AVE FS MANITOBA ST","BayNo":"N","City":"VANCOUVER","OnStreet":"W
        KING EDWARD AVE","AtStreet":"MANITOBA ST","Latitude":49.248820,"Longitude":-123.107050,"WheelchairAccess":1,"Distance":131,"Routes":"025"},{"StopNo":51573,"Name":"WB
        W KING EDWARD AVE FS COLUMBIA ST","BayNo":"N","City":"VANCOUVER","OnStreet":"W
        KING EDWARD AVE","AtStreet":"COLUMBIA ST","Latitude":49.249020,"Longitude":-123.110530,"WheelchairAccess":1,"Distance":137,"Routes":"025"},{"StopNo":51514,"Name":"EB
        W KING EDWARD AVE FS YUKON ST","BayNo":"N","City":"VANCOUVER","OnStreet":"W
        KING EDWARD AVE","AtStreet":"YUKON ST","Latitude":49.248820,"Longitude":-123.111720,"WheelchairAccess":1,"Distanc[...]
