interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/routes?stopNo=50608
  response:
    body: {string: '[{"RouteNo":"005","Name":"ROBSON\/DOWNTOWN                ","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"EB2Y","Destination":"DOWNTOWN","RouteMap":{"Href":"https:\/\/nb.translink.ca\/geodata\/trip\/005-EB2Y.kmz"},"Direction":"EAST"},{"PatternNo":"EB3","Destination":"DOWNTOWN","RouteMap":{"Href":"https:\/\/nb.translink.ca\/geodata\/trip\/005-EB3.kmz"},"Direction":"EAST"}]}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
