interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/routes/N9
  response:
    body: {string: '{"RouteNo":"N9","Name":"DOWNTN\/LOUGHEED STN\/COQ CTRL STN ","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"EB1","Destination":"COQ
        STN NIGHTBUS","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/N9-EB1.kmz"},"Direction":"EAST"},{"PatternNo":"EB2","Destination":"COQ
        STN NIGHTBUS","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/N9-EB2.kmz"},"Direction":"EAST"},{"PatternNo":"WB1","Destination":"DOWNTOWN
        NIGHTBUS","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/N9-WB1.kmz"},"Direction":"WEST"},{"PatternNo":"WB2","Destination":"LOUGHEED
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/N9-WB2.kmz"},"Direction":"WEST"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
