interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/routes/144
  response:
    body: {string: '{"RouteNo":"144","Name":"SFU\/METROTOWN STN              ","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"NB1","Destination":"SFU","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-NB1.kmz"},"Direction":"NORTH"},{"PatternNo":"NB5SU","Destination":"SFU","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-NB5SU.kmz"},"Direction":"NORTH"},{"PatternNo":"SB1","Destination":"METROTOWN
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-SB1.kmz"},"Direction":"SOUTH"},{"PatternNo":"SB1CEN","Destination":"METROTOWN
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-SB1CEN.kmz"},"Direction":"SOUTH"},{"PatternNo":"SB2A","Destination":"METROTOWN
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-SB2A.kmz"},"Direction":"SOUTH"},{"PatternNo":"SB5BB","Destination":"METROTOWN
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-SB5BB.kmz"},"Direction":"SOUTH"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
