interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/routes?stopNo=53095
  response:
    body: {string: '[{"RouteNo":"144","Name":"SFU\/METROTOWN STN              ","OperatingCompany":"CMBC","Patterns":[{"PatternNo":"SB1","Destination":"METROTOWN
        STN","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/trip\/144-SB1.kmz"},"Direction":"SOUTH"}]}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
