interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/stops/60980/estimates?count=3&routeNo=050&timeframe=120
  response:
    body: {string: '[{"RouteNo":"050","RouteName":"WATERFRONT STN\/FALSE CREEK SOUTH","Direction":"SOUTH","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/050.kmz"},"Schedules":[{"Pattern":"SB1","Destination":"S.
        FALSE CREEK VIA GRANVILLE ISL.","ExpectedLeaveTime":"1:24pm","ExpectedCountdown":-3,"ScheduleStatus":"
        ","CancelledTrip":false,"CancelledStop":false,"AddedTrip":false,"AddedStop":false,"LastUpdate":"12:16:00
        pm"},{"Pattern":"SB1","Destination":"S. FALSE CREEK VIA GRANVILLE ISL.","ExpectedLeaveTime":"1:38pm","ExpectedCountdown":11,"ScheduleStatus":"*","CancelledTrip":false,"CancelledStop":false,"AddedTrip":false,"AddedStop":false,"LastUpdate":"12:30:01
        pm"},{"Pattern":"SB1","Destination":"S. FALSE CREEK VIA GRANVILLE ISL.","ExpectedLeaveTime":"1:53pm","ExpectedCountdown":26,"ScheduleStatus":"*","CancelledTrip":false,"CancelledStop":false,"AddedTrip":false,"AddedStop":false,"LastUpdate":"12:45:04
        pm"}]}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
