interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.translink.ca/rttiapi/v1/stops/60980/estimates
  response:
    body: {string: '[{"RouteNo":"004","RouteName":"POWELL\/DOWNTOWN\/UBC","Direction":"WEST","RouteMap":{"Href":"http:\/\/nb.translink.ca\/geodata\/004.kmz"},"Schedules":[{"Pattern":"WB1","Destination":"UBC","ExpectedLeaveTime":"1:23pm","ExpectedCountdown":-4,"ScheduleStatus":"
        ","CancelledTrip":false,"CancelledStop":false,"AddedTrip":false,"AddedStop":false,"LastUpdate":"12:01:02
        pm"},{"Pattern":"WB1","Destination":"UBC","ExpectedLeaveTime":"1:38pm","ExpectedCountdown":11,"ScheduleStatus":"
        ","CancelledTrip":false,"CancelledStop":false,"AddedTrip":false,"AddedStop":false,"LastUpdate":"12:16:10
        pm"},{"Pattern":"WB1","Destination":"UBC","ExpectedLeaveTime":"1:53pm","ExpectedCountdown":26,"ScheduleStatus":"
        ","CancelledTrip":false,"CancelledStop":false,"AddedTrip":false,"AddedStop":false,"LastUpdate":"12:31:04
        pm"},{"Pattern[...]
