[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
requests = "*"
marshmallow = "*"
pytz = "*"

[dev-packages]
pytest = "*"
tox = "*"
"flake8" = "*"
pytest-vcr = "*"
vcrpy = "*"
sphinx = "*"
sphinx-autobuild = "*"
twine = "*"

[pipenv]
allow_prereleases = true
