interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rtdsapi.translink.ca/rtdsapi/v1/AllLiveData
  response:
    body: {string: '{"timestampUtc":"2018-02-18T21:22:30","data":[{"linkId":32899124,"isFwd":true,"lengthMetres":173.16,"angle":17.6,"speedKmph":66.5,"travelTimeMinutes":0.2,"quality":0},{"linkId":32899170,"isFwd":true,"lengthMetres":1651.93,"angle":214.2,"speedKmph":88.7,"travelTimeMinutes":1.1,"quality":0},{"linkId":32899469,"isFwd":true,"lengthMetres":106.98,"angle":338.1,"speedKmph":38.6,"travelTimeMinutes":0.2,"quality":0},{"linkId":32899469,"isFwd":false,"lengthMetres":106.98,"angle":158.1,"speedKmph":36.8,"travelTimeMinutes":0.2,"quality":0},{"linkId":32899490,"isFwd":true,"lengthMetres":103.73,"angle":333.9,"speedKmph":39.5,"travelTimeMinutes":0.2,"quality":0},{"linkI[...]
