interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rtdsapi.translink.ca/rtdsapi/v1/LiveDataAtPoint?types=6&x=-123.04550170898438&y=49.23194729854554&z=12
  response:
    body: {string: '{"x":-123.0454695224762,"y":49.232985038496849,"timestampUtc":"2018-02-18T21:22:30","data":[{"linkId":32917581,"isFwd":true,"lengthMetres":103.61,"angle":270.8,"speedKmph":36.6,"travelTimeMinutes":0.2,"quality":0},{"linkId":32917581,"isFwd":false,"lengthMetres":103.61,"angle":90.8,"speedKmph":34.0,"travelTimeMinutes":0.2,"quality":0}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rtdsapi.translink.ca/rtdsapi/v1/LiveDataAtPoint?types=-1&x=abc&y=-1&z=0
  response:
    body: {string: '{"Message":"Invalid value for X.; The X property is required."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
