interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rtdsapi.translink.ca/rtdsapi/v1/LiveDataAtPoint?types=6&x=-123.045501&y=49.231947
  response:
    body: {string: '{"x":-123.04546818137169,"y":49.232985038496849,"timestampUtc":"2018-02-20T05:02:30","data":[{"linkId":32917581,"isFwd":true,"lengthMetres":103.61,"angle":270.8,"speedKmph":36.8,"travelTimeMinutes":0.2,"quality":0},{"linkId":32917581,"isFwd":false,"lengthMetres":103.61,"angle":90.8,"speedKmph":35.6,"travelTimeMinutes":0.2,"quality":0}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
